<span class="dropdown-label">
	{{ 'Airbag' | translate }}
</span>
<div ng-class="{'filled': model.selectedAirbag}">
	<ui-select 
		ng-model="model.selectedAirbag" 
		ng-change="handleSelectedAirbagChange()"
		theme="select2"
		reset-search-input="true"
		reset-ui-select-active-index>
		<ui-select-match 
			placeholder="{{ 'Any' | translate }}" 
			allow-clear="true">
			{{ $select.selected.value | translate }}
		</ui-select-match>
		<ui-select-choices 
			repeat="value in dropDownOptionsArrays.AIRBAG | startsWith:'value':$select.search:true | orderBy: 'value | translate'">
			{{ value.value | translate }}
		</ui-select-choices>
	</ui-select>
</div>