<section class="forgot-password-section section">
	<div class="email-input-form-container form-container" ng-show="!requestId">
		<div class="title">
			<div class="icon">
			</div>
			<div class="label">
				{{ 'Password Change' | translate }}
			</div>
		</div>
		<div class="content">

			<form novalidate name="forgotPasswordForm"
				class="forgot-password-form">
				<div class="forgot-password-helper-text">
					{{ 'No problem! Here you can request a link to change your password.' | translate }}
				</div>

				<div class="input-label">
					{{ 'Please enter your email' | translate }}
				</div>
				<div class="email-input-container input-container">
					<input ng-model="email" 
						name="email" 
						required 
						type="email"
						class="input"
						ng-focus="handleEmailInputFocus($event)">

						<span class="validation-response" ng-show="forgotPasswordForm.email.$touched">
							<span class="error-message" ng-show="forgotPasswordForm.email.$invalid">
								<span ng-show="forgotPasswordForm.email.$error.required">	
									<div class="title">
										{{ 'The e-mail is required.' | translate }}
									</div>
									<div class="subtitle">
										{{ 'Please enter your e-mail!' | translate }}
									</div>
								</span>
								<span ng-show="forgotPasswordForm.email.$error.email">
									<div class="title">
										{{ 'This is not a valid e-mail.' | translate }}
									</div>
									<div class="subtitle">
										{{ 'Please enter a valid e-mail!' | translate }}
									</div>
								</span>
							</span>
						</span>
				</div>
				<button ng-click="handleSubmitButtonClick($event)" 
					ng-disabled="forgotPasswordForm.$invalid"
					class="submit-button">
					{{ 'Change Password' | translate }}
				</button>
				
			</form>
		</div>
	</div>

	<div class="password-input-form-container form-container" ng-show="requestId">
		<div class="title">
			<div class="icon">
			</div>
			<div class="label">
				{{ 'Password Change' | translate }}
			</div>
		</div>
		<div class="content">

			<form novalidate name="passwordInputForm">
				<div class="input-label">
					{{ 'Please enter your new password' | translate }}
				</div>
				<div class="password-container input-container">
					<input ng-model="password" 
						name="password" 
						required 
						type="password"
						class="input"
						ng-focus="handlePasswordInputFocus($event)">
					<span class="validation-response" ng-show="passwordInputForm.password.$touched">
						<span class="error-message" ng-show="passwordInputForm.password.$invalid">
							<span ng-show="passwordInputForm.password.$error.required">	
								<div class="title">
									{{ 'The password is required.' | translate }}
								</div>
								<div class="subtitle">
									{{ 'Please enter your password!' | translate }}
								</div>
							</span>
						</span>
					</span>
				</div>
				<div class="input-label">
					{{ 'Please repeat your password' | translate }}
				</div>
				<div class="repeat-password-container input-container">
					<input ng-model="repeatedPassword" 
						name="repeatedPassword" 
						required 
						type="password"
						class="input"
						ng-focus="handleRepeatedPasswordInputFocus($event)">
					<span class="validation-response" 
						ng-show="passwordInputForm.repeatedPassword.$touched">
						<span class="error-message" ng-show="passwordInputForm.repeatedPassword.$invalid">
							<span ng-show="passwordInputForm.repeatedPassword.$error.required">	
								<div class="title">
									{{ 'The password is required.' | translate }}
								</div>
								<div class="subtitle">
									{{ 'Please enter your password once again!' | translate }}
								</div>
							</span>
						</span>
					</div>
				</span>
				<button ng-click="handleSubmitPasswordButtonClick($event)"
					ng-disabled="passwordInputForm.$invalid"
					class="submit-button">
					{{ 'Change password' | translate }}
				</button>
				
			</form>
		</div>
	</div>

	<div class="response" ng-if="successMessage || errorMessage">
		<div class="error-message-container" 
			ng-if="errorMessage">
			{{ errorMessage | translate }}
		</div>

		<div class="success-message-container"
			ng-if="successMessage">
			{{ successMessage | translate }}
		</div>
	</div>
</section>